<%= form_for [@event, @participation] do |f| %>
  <%= render "/shared/form_errors", resource: @participation %>

  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="form-group">
        <%= f.label :person_id, "Person" %>
        <%= f.select :person_id,
                     person_options_for_select(@event, @participation.person.try(:id)),
                     { },
                     { class: "form-control" } %>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="form-group">
        <%= f.label :performance_id, "Performance" %>
        <%= f.select :performance_id,
                     performance_options_for_select(@event, @participation.performance.try(:id)),
                     { },
                     { class: "form-control" } %>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="form-group">
        <%= f.label :role_id, "Role" %>
        <%= f.select :role_id,
                     role_options_for_select(@event, @participation.role.try(:id)),
                     { },
                     { class: "form-control" } %>
      </div>
    </div>
  </div><!-- .row -->

  <%= render "shared/form_actions", f: f %>
<% end %>
