<div id="<%= medium.pluralize %>">
  <h2>
    <%= link_to medium.pluralize.capitalize, [event, medium.pluralize] %>
    <%= link_to "NEW", [:new, event, medium], class: "btn btn-primary btn-xs" %>
  </h2>

  <% if event.send(medium.pluralize).blank? %>
    <p>You haven&rsquo;t added any <%= medium.pluralize %> yet.</p>
  <% else %>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        <% event.send(medium.pluralize).each do |medium| %>
          <tr>
            <td><%= link_to medium.name, [event, medium] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
