<section id="<%= section %>" class="col-xs-12 col-sm-<%= columns %>">
  <div class="page-header">
    <h2>
      <%= link_to section == :rsvps ? "RSVPs" : section.to_s.pluralize.capitalize,
                  [event, section],
                  class: "p-name" %>
    </h2>

    <%= link_to "NEW", [:new, event, section.to_s.singularize], class: "btn btn-default btn-xs" %>
  </div>

  <% if event.send(section).blank? %>
    <p>You haven&rsquo;t added any <%= section.to_s.pluralize %> yet.</p>
  <% else %>
    <% if %w(photos audios videos).include?(section.to_s) %>
      <%= render "dashboard/media", event: event, section: section %>
    <% else %>
      <%= render "dashboard/#{section}", event: event %>
    <% end %>

    <%= render "dashboard/more_items", event: event, collection: event.send(section), collection_path: [event, section], limit: 4 %>
  <% end %>
</section>
