<div class="h-entry">
  <div class="page-header">
    <h1>
      <%= link_to_unless_current medium.name, medium, class: "p-name" %>
      <%= link_to "Edit", edit_medium_path(medium), class: "btn btn-primary btn-sm" %>
    </h1>
  </div>


  <% if medium.audio_url.present? %>
    <div>
      <audio controls src="<%= medium.audio_url %>" class="u-audio" />
    </div>
  <% end %>

  <% if medium.soundcloud_url.present? %>
    <div>
      <%= render "/embeds/soundcloud", medium: medium %>
    </div>
  <% end %>


  <% if medium.description.present? %>
    <div>
      <%= simple_format medium.description %>
    </div>
  <% end %>

  <%= render "shared/media_footer", thing: medium %>
</div>
