<%= render "shared/notice" %>

<div class="h-event dashboard">

  <div class="hello-yc">
    <h3>Hello, YC!</h3>
    <p>For the purposes of this demo, we populated a sample event and already logged you in! 👍🏼</p>
    <p>This is the Eventer admin. Currently it is a basic prototype with some parts not fully functional, or missing entirely!</p>
    <p>We've already got a solid road map ahead of us that includes:</p>
    <ul>
      <li>Exstensive streamlining of the Admin UX/UI (responsiveness!)</li>
      <li>Attendee Registration (integration with <a href="https://ti.to" target="_blank">Tito</a>? <a href="https://eventbrite.com" target="_blank">EventBrite</a>?)</li>
      <li>Sponsor Management (create and sell sponsorships at multiple levels; organize sponsor logos, urls, copy, etc)</li>
      <li>Implement Mustache templating and create multiple themes</li>
      <li>Fully implement the Media section to allow photos, videos, etc, to be added to specific sessions</li>
      <li>Add Markdown support throughout the Admin</li>
      <li>Add "pages" functionality to allow for custom content (markdown / html)</li>
      <li>Create CFP / Proposal Review system</li>
      <li>And more!</li>
    </ul>
    <p>Feel free to click around and try stuff out, but, in the very least, click that big preview button over there to see how all the bits and pieces come together to make a super-sweet conference website.</p>
  </div>

  <div class="page-header">
    <h1 class="p-name"><%= @event.name %> <%= @event.iterator %></span></h1>
    <p class="header-button h1"><%= link_to "EDIT", [:edit, :admin, @event], class: "btn btn-default btn-md edit" %></p>
    <p class="header-button h1">the big preview button -> <%= link_to "PREVIEW", [:admin, @event, :preview], class: "btn btn-warning btn-md" %></p>
  </div>

  <div id="before">
    <%= jump_to_tag "DURING/AFTER" %>

    <h2 class="sub-header">Before The Event</h2>

    <div class="row">
      <%= render "dashboard/section", event: @event, section: :sessions,     columns: 6 %>
      <%= render "dashboard/section", event: @event, section: :participants, columns: 6 %>
    </div><!-- .row -->

    <div class="row">
      <%= render "dashboard/section", event: @event, section: :venues,       columns: 6 %>
      <%= render "dashboard/section", event: @event, section: :roles,        columns: 6 %>
    </div><!-- .row -->
  </div><!-- #before -->

  <div id="during-after">
    <%= jump_to_tag "BEFORE" %>

    <h2 class="sub-header">During &amp; After the Event</h2>

    <div class="row">
      <%= render "dashboard/section", event: @event, section: :links,  columns: 6 %>
      <%= render "dashboard/section", event: @event, section: :photos, columns: 6 %>
    </div><!-- .row -->

    <div class="row">
      <%= render "dashboard/section", event: @event, section: :videos, columns: 6 %>
      <%= render "dashboard/section", event: @event, section: :audios, columns: 6 %>
    </div><!-- .row -->
  </div><!-- #during-after -->

</div><!-- .h-event -->
