<%= render "/shared/notice" %>

<div class="page-header">
  <h1>
    Dashboard
    <small>
      <%= current_user.name.blank? ?
            link_to("Add your name in Settings", settings_path).html_safe :
            current_user.name %>
    </small>
  </h1>
</div>

<%= render "events" %>
<%= render "locations" %>
<%= render "people" %>
<%= render "performances" %>
