<%= render "/shared/notice" %>

<div class="page-header">
  <h1>
    Dashboard
    <small>
      <%= current_user.name.blank? ?
            link_to("Add your name in Settings", settings_path).html_safe :
            current_user.name %>
    </small>
  </h1>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-6">
    <%= render "dashboard/events" %>
    <%= render "dashboard/venues" %>
    <%= render "dashboard/people" %>
    <%= render "dashboard/performances" %>
  </div>

  <div class="col-xs-12 col-sm-6">
    <%= render "dashboard/media", media: "photos" %>
    <%= render "dashboard/media", media: "audios" %>
    <%= render "dashboard/media", media: "videos" %>
    <%= render "dashboard/links" %>
  </div>
</div>
