<div class="h-entry">
  <div class="page-header">
    <h1>
      <%= link_to_unless_current medium.name, medium, class: "p-name" %>
      <%= link_to "Edit", edit_medium_path(medium), class: "btn btn-primary btn-sm" %>
    </h1>
  </div>


  <% if medium.video_url.present? %>
    <div>
      <video controls src="<%= medium.video_url %>" class="u-video" />
    </div>
  <% end %>

  <% if medium.instagram_url.present? %>
    <div>
      <%= render "/embeds/instagram", medium: medium %>
    </div>
  <% end %>

  <% if medium.flickr_url.present? %>
    <div>
      <%= render "/embeds/flickr", medium: medium %>
    </div>
  <% end %>

  <% if medium.facebook_url.present? %>
    <div>
      <%= render "/embeds/facebook", medium: medium %>
    </div>
  <% end %>

  <% if medium.youtube_url.present? %>
    <div>
      <%= render "/embeds/youtube", medium: medium %>
    </div>
  <% end %>

  <% if medium.vimeo_url.present? %>
    <div>
      <%= render "/embeds/vimeo", medium: medium %>
    </div>
  <% end %>

  <% if medium.vine_url.present? %>
    <div>
      <%= render "/embeds/vine", medium: medium %>
    </div>
  <% end %>


  <% if medium.description.present? %>
    <div>
      <%= simple_format medium.description %>
    </div>
  <% end %>

  <%= render "shared/media_footer", thing: medium %>
</div>
