<% if thing.creator_name.present? || thing.creator_url.present? %>
  <p class="p-author h-card">
    <% if thing.creator_name.present? && thing.creator_url.present? %>
      By: <%= link_to thing.creator_name, thing.creator_url, class: "u-url p-name" %>
    <% elsif thing.creator_name.present? && thing.creator_url.blank? %>
      By: <span class="p-name"><%= thing.creator_name %></span>
    <% elsif thing.creator_name.blank? && thing.creator_url.present? %>
      From: <%= link_to thing.creator_url, thing.creator_url, class: "u-url" %>
    <% end %>
    
    <% if thing.creator_photo.present? %>
      <%= image_tag thing.creator_photo, alt: "#{thing.creator_name}'s profile photo", class: "u-photo" %>
    <% end %>
  </p>
<% end %>


<% if thing.published_at.present? %>
  <p>On: <%= time_tag thing.published_at, thing.published_at.strftime("%Y-%m-%d"), class: "dt-published" %></p>
<% end %>
