<% if resource.creator_name.present? || resource.creator_url.present? %>
  <p class="p-author h-card">
    <% if resource.creator_name.present? && resource.creator_url.present? %>
      By:
      <%= creator_photo_tag(resource) %>
      <%= link_to resource.creator_name, resource.creator_url, class: "u-url p-name" %>

    <% elsif resource.creator_name.present? && resource.creator_url.blank? %>
      By:
      <%= creator_photo_tag(resource) %>
      <span class="p-name"><%= resource.creator_name %></span>

    <% elsif resource.creator_name.blank? && resource.creator_url.present? %>
      From:
      <%= creator_photo_tag(resource) %>
      <%= link_to resource.creator_url, resource.creator_url, class: "u-url" %>
    <% end %>
  </p>
<% end %>

<% if resource.published_at.present? %>
  <p>On: <%= time_tag resource.published_at, resource.published_at.strftime("%Y-%m-%d"), class: "dt-published" %></p>
<% end %>
