<div class="h-event">
  <div class="page-header">
    <h1>
      <span class="p-name"><%= link_to_unless_current event.name, event %></span>
    </h1>
    <p><%= link_to "Edit", edit_event_path(event), class: "btn btn-default btn-xs" %></p>
  </div>
  
  <h2 class="h5">Before The Event</h2>
  <p>
    <%= link_to "Add Venue", new_event_venue_path(event), class: "btn btn-primary btn-sm" %>
    <%= link_to "Add Performance", new_event_performance_path(event), class: "btn btn-primary btn-sm" %>
  </p>
  
  <h2 class="h5">During / After the Event</h2>
  <p>
    <%= link_to "Add Link",  new_event_link_path(event),  class: "btn btn-primary btn-sm" %>
    <%= link_to "Add Photo", new_event_photo_path(event), class: "btn btn-primary btn-sm" %>
    <%= link_to "Add Audio", new_event_audio_path(event), class: "btn btn-primary btn-sm" %>
    <%= link_to "Add Video", new_event_video_path(event), class: "btn btn-primary btn-sm" %>
  </p>

  <%= render "dashboard/venues",       event: event %>
  <%= render "dashboard/performances", event: event %>
