<div class="h-event dashboard">

  <div class="page-header">
    <h1>
      <span class="p-name"><%= link_to_unless_current event.name, event %></span>
    </h1>
    <p><%= link_to "EDIT", [:edit, event], class: "btn btn-default btn-xs" %></p>
  </div>

  <h2 class="h5">Before The Event</h2>
  <p>
    <%= link_to "Add Venue",       [:new, event, :venue],       class: "btn btn-primary btn-sm" %>
    <%= link_to "Add Person",      [:new, event, :person],      class: "btn btn-primary btn-sm" %>
    <%= link_to "Add Performance", [:new, event, :performance], class: "btn btn-primary btn-sm" %>
  </p>

  <h2 class="h5">During / After the Event</h2>
  <p>
    <%= link_to "Add Link",  [:new, event, :link],  class: "btn btn-primary btn-sm" %>
    <%= link_to "Add Photo", [:new, event, :photo], class: "btn btn-primary btn-sm" %>
    <%= link_to "Add Video", [:new, event, :video], class: "btn btn-primary btn-sm" %>
    <%= link_to "Add Audio", [:new, event, :audio], class: "btn btn-primary btn-sm" %>
  </p>

  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <%= render "dashboard/venues",       event: event %>
      <%= render "dashboard/performances", event: event %>
      <%= render "dashboard/people",       event: event %>
    </div>
    <div class="col-xs-12 col-sm-6">
      <%= render "dashboard/links", event: event %>
      <%= render "dashboard/media", event: event, medium: "photo" %>
      <%= render "dashboard/media", event: event, medium: "video" %>
      <%= render "dashboard/media", event: event, medium: "audio" %>
    </div>
  </div>

</div><!-- /.h-event -->
