<%= form_for @event do |f| %>
  <%= render "/shared/form_errors", object: @event %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true, class: "form-control input-lg" %>
  </div>

  <div class="actions">
    <%= link_to "Cancel", @event %>
    <%= f.submit  class: "btn btn-success btn-lg" %>
  </div>
<% end %>
