<%= form_for [@event, @venue] do |f| %>
  <%= render "/shared/form_errors", resource: @venue %>

  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, autofocus: true, class: "form-control input-lg" %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="form-group">
        <%= f.label :nickname %>
        <%= f.text_field :nickname, class: "form-control input-lg" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="form-group">
        <%= f.label :street_address, "Street Address" %>
        <%= f.text_field :street_address, class: "form-control" %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="form-group">
        <%= f.label :extended_address, "Extended Address" %>
        <%= f.text_field :extended_address, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="form-group">
        <%= f.label :locality %>
        <%= f.text_field :locality, class: "form-control" %>
        <p class="help-block">City, town, village, etc</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="form-group">
        <%= f.label :region %>
        <%= f.text_field :region, class: "form-control" %>
        <p class="help-block">State, province, subdivision, county, etc</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="form-group">
        <%= f.label :postal_code, "Postal Code" %>
        <%= f.text_field :postal_code, class: "form-control" %>
        <p class="help-block">ZIP code, postal code, mailing code, etc</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="form-group">
        <%= f.label :country %>
        <%= f.select :country, ISO3166::Country.all_names_with_codes, { include_blank: true }, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="form-group">
        <%= f.label :phone, "Telephone Number" %>
        <%= f.text_field :phone, class: "form-control" %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="form-group">
        <%= f.label :url, "URL" %>
        <%= f.text_field :url, class: "form-control" %>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="form-group">
        <%= f.label :twitter, "Twitter @username" %>
        <%= f.text_field :twitter, class: "form-control" %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="form-group">
        <%= f.label :instagram, "Instagram @username" %>
        <%= f.text_field :instagram, class: "form-control" %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="form-group">
        <%= f.label :facebook, "Facebook page username" %>
        <%= f.text_field :facebook, class: "form-control" %>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-6">
      <div class="form-group">
        <%= f.label :latitude %>
        <%= f.text_field :latitude, class: "form-control" %>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="form-group">
        <%= f.label :longitude %>
        <%= f.text_field :longitude, class: "form-control" %>
      </div>
    </div>
  </div>
  
  <div class="actions">
    <%= link_to "Cancel", @event %>
    <%= f.submit  class: "btn btn-success btn-lg" %>
  </div>
<% end %>
