<div class="h-card">
  <div class="page-header">
    <h1>
      <%= link_to_unless_current link.name, [event, link], class: "p-name" %>
    </h1>
    <p><%= link_to "EDIT", [:edit, event, link], class: "btn btn-default btn-xs" %></p>
    <p>For <%= link_to event.name, event %></p>
  </div>


  <% if link.content.present? %>
    <div>
      <%= simple_format link.content %>
    </div>
  <% end %>

  <% if link.url.present? %>
    <p>
      <%= link_to link.url, link.url, class: "u-url u-repost-of" %>
    </p>
  <% end %>

  <%= render "shared/media_footer", resource: link %>
</div>
