<div class="h-entry">
  <div class="page-header">
    <h1>
      <%= link_to_unless_current link.name, link, class: "p-name" %>
      <%= link_to "EDIT", edit_link_path(link), class: "btn btn-default btn-xs" %>
    </h1>
  </div>

  <% if link.content.present? %>
    <div>
      <%= simple_format link.content %>
    </div>
  <% end %>

  <% if link.url.present? %>
    <p>
      <%= link_to link.url, link.url, class: "u-url u-repost-of" %>
    </p>
  <% end %>

  <%= render "shared/media_footer", resource: link %>
</div>
