<div class="h-card">
  <div class="page-header">
    <h1><%= link_to_unless_current participant.name, [:admin, @event, participant], class: "p-name" %></h1>
    <p class="header-button"><%= link_to "EDIT", [:edit, :admin, @event, participant], class: "btn btn-default btn-xs" %></p>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <% if participant.photo.present? %>
        <%= image_tag participant.photo, class: "u-photo" %>
      <% end %>

      <h2 id="links">Elsewhere</h2>
      <table class="table">
        <% if participant.url.present? %>
          <tr>
            <th>Website</th>
            <td><%= link_to human_readable_url(participant.url), participant.url, class: "u-url" %></td>
          </tr>
        <% end %>

        <% if participant.twitter.present? %>
          <tr>
            <th>Twitter</th>
            <td><%= link_to_social :twitter, participant.twitter %></td>
          </tr>
        <% end %>

        <% if participant.instagram.present? %>
          <tr>
            <th>Instagram</th>
            <td><%= link_to_social :instagram, participant.instagram %></td>
          </tr>
        <% end %>

        <% if participant.facebook.present? %>
          <tr>
            <th>Facebook</th>
            <td><%= link_to_social :facebook, participant.facebook %></td>
          </tr>
        <% end %>

        <% if participant.youtube.present? %>
          <tr>
            <th>YouTube</th>
            <td><%= link_to_social :youtube, participant.youtube %></td>
          </tr>
        <% end %>

        <% if participant.vimeo.present? %>
          <tr>
            <th>Vimeo</th>
            <td><%= link_to_social :vimeo, participant.vimeo %></td>
          </tr>
        <% end %>

        <% if participant.bandcamp.present? %>
          <tr>
            <th>Bandcamp</th>
            <td><%= link_to_social :bandcamp, participant.bandcamp %></td>
          </tr>
        <% end %>
      </table>
    </div>

    <div class="col-xs-12 col-sm-8">
      <% if participant.photo.present? %>
        <h2 id="bio">Bio</h2>
        <div class="p-note">
          <%= simple_format participant.bio %>
        </div>
      <% end %>
    </div>
  </div>
</div>
