<p id="notice"><%= notice %></p>

<p>
  <strong>Image url:</strong>
  <%= @medium.image_url %>
</p>

<p>
  <strong>Instagram url:</strong>
  <%= @medium.instagram_url %>
</p>

<p>
  <strong>Flick url:</strong>
  <%= @medium.flick_url %>
</p>

<p>
  <strong>Facebook url:</strong>
  <%= @medium.facebook_url %>
</p>

<p>
  <strong>Audio url:</strong>
  <%= @medium.audio_url %>
</p>

<p>
  <strong>Soundcloud url:</strong>
  <%= @medium.soundcloud_url %>
</p>

<p>
  <strong>Video url:</strong>
  <%= @medium.video_url %>
</p>

<p>
  <strong>Youtube url:</strong>
  <%= @medium.youtube_url %>
</p>

<p>
  <strong>Vimeo url:</strong>
  <%= @medium.vimeo_url %>
</p>

<p>
  <strong>Title:</strong>
  <%= @medium.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @medium.description %>
</p>

<p>
  <strong>Creator name:</strong>
  <%= @medium.creator_name %>
</p>

<p>
  <strong>Creator url:</strong>
  <%= @medium.creator_url %>
</p>

<p>
  <strong>Published at:</strong>
  <%= @medium.published_at %>
</p>

<p>
  <strong>Private:</strong>
  <%= @medium.private %>
</p>

<p>
  <strong>User:</strong>
  <%= @medium.user_id %>
</p>

<%= link_to 'Edit', edit_medium_path(@medium) %> |
<%= link_to 'Back', media_path %>
