<div class="h-entry">
  <div class="page-header">
    <h1>
      <%= link_to_unless_current medium.name, medium, class: "p-name" %>
      <%= link_to "Edit", edit_medium_path(medium), class: "btn btn-primary btn-sm" %>
    </h1>
  </div>


  <% if medium.image_url.present? %>
    <div>
      <img src="<%= medium.image_url %>" class="u-photo" />
    </div>
  <% end %>

  <% if medium.instagram_url.present? %>
    <div>
      <%= render "/embeds/instagram", medium: medium %>
    </div>
  <% end %>

  <% if medium.flickr_url.present? %>
    <div>
      <%= render "/embeds/flickr", medium: medium %>
    </div>
  <% end %>

  <% if medium.facebook_url.present? %>
    <div>
      <%= render "/embeds/facebook", medium: medium %>
    </div>
  <% end %>


  <% if medium.description.present? %>
    <div>
      <%= simple_format medium.description %>
    </div>
  <% end %>


  <% if medium.creator_name.present? || medium.creator_url.present? %>
    <p class="p-author h-card">
      <% if medium.creator_name.present? && medium.creator_url.present? %>
        By:
        <%= link_to medium.creator_name,
                    medium.creator_url,
                    class: "u-url p-name" %>

      <% elsif medium.creator_name.present? && medium.creator_url.blank? %>
        By:
        <span class="p-name"><%= medium.creator_name %></span>

      <% elsif medium.creator_name.blank? && medium.creator_url.present? %>
        From:
        <%= link_to medium.creator_url,
                    medium.creator_url,
                    class: "u-url" %>
      <% end %>
    </p>
  <% end %>

  <% if medium.published_at.present? %>
    <p>
      On: <%= time_tag medium.published_at, class: "dt-published" %>
    </p>
  <% end %>
</div>
