<%= render "shared/notice" %>
<%= render "shared/section_header", event: @event, section: :participation %>

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Participant</th>
      <th>Role</th>
      <th>Session</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @participations.each do |participation| %>
      <tr>
        <td><%= link_to "EDIT", [:edit, :admin, @event, participation], class: "btn btn-primary btn-xs" %></td>
        <td><%= participation.participant.name %></td>
        <td><%= participation.role.name %></td>
        <td><%= participation.session.name %></td>
        <td class="table-action table-action-delete"><%= link_to "DELETE", [:admin, @event, participation], method: :delete, class: "btn btn-danger btn-xs" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
