<%= form_for [@event, @performance] do |f| %>
  <%= render "/shared/form_errors", object: @performance %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true, class: "form-control input-lg" %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control", rows: 10 %>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="form-group">
        <%= f.label :event_id, "Event" %>
        <%= f.select :event_id, event_options_for_select, {}, class: "form-control" %>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6">
      <div class="form-group">
        <%= f.label :location_id, "Location" %>
        <%= f.select :location_id, location_options_for_select(@event), {}, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :starts_at, "Start Date and Time" %>
    <%= render "shared/date_select_row", object: @performance, attr: :starts_at %>
    <%= render "shared/time_select_row", object: @performance, attr: :starts_at %>
  </div>

  <div class="form-group">
    <%= f.label :ends_at, "End Date and Time" %>
    <%= render "shared/date_select_row", object: @performance, attr: :ends_at %>
    <%= render "shared/time_select_row", object: @performance, attr: :ends_at %>
  </div>

  <div class="actions">
    <%= link_to "Cancel", @event %>
    <%= f.submit  class: "btn btn-success btn-lg" %>
  </div>
<% end %>
