<%= render "/shared/notice" %>

<div class="h-event">
  <div class="page-header">
    <h1>
      <%= link_to_unless_current @performance.name, @performance, class: "p-name" %>
      <%= link_to "Edit", edit_performance_path(@performance), class: "btn btn-primary btn-sm" %>
    </h1>
    
    <% if @performance.event.present? %>
      <h2><%= link_to @performance.event.name, @performance.event %></h2>
    <% end %>
  </div>
  
  <% if @performance.description.present? %>
    <div class="p-summary p-description">
      <%= simple_format @performance.description %>
    </div>
  <% end %>
  
  <p>
    <% if @performance.starts_at.present? %>
      <%= time_tag @performance.starts_at, @performance.starts_at.strftime("%Y-%m-%d %H:%M"), class: "dt-start" %>
    <% end %>
  
    <% if @performance.ends_at.present? %>
      &ndash;
      <%= time_tag @performance.ends_at, @performance.ends_at.strftime("%Y-%m-%d %H:%M"), class: "dt-end" %>
    <% end %>
  </p>
</div>
