<div class="h-card">
  <div class="page-header">
    <h1>
      <%= link_to_unless_current location.name, location, class: "p-name" %>
      <small class="p-nickname"><%= location.nickname %></small>
      <%= link_to "Edit", edit_location_path(location), class: "btn btn-primary btn-sm" %>
    </h1>
  </div>

  <div class="col-xs-12 col-sm-6">
    <p>
      <% if location.street_address.present? %>
        <span class="p-street-address"><%= location.street_address %></span>
      <% end %>

      <% if location.extended_address.present? %>
        <span class="p-extended-address"><%= location.extended_address %></span>
      <% end %>

      <% if location.locality.present? %>
        <span class="p-locality"><%= location.locality %></span>
      <% end %>

      <% if location.region.present? %>
        <span class="p-region"><%= location.region %></span>
      <% end %>

      <% if location.postal_code.present? %>
        <span class="p-postal-code"><%= location.postal_code %></span>
      <% end %>

      <% if location.country.present? %>
        <span class="p-country-name"><%= ISO3166::Country.new(location.country).name %></span>
      <% end %>
    </p>
  </div>

  <div class="col-xs-12 col-sm-6">
    <table class="table">
      <% if location.phone.present? %>
        <tr>
          <td>
            <%= link_to location.phone, "tel:#{location.phone}", class: "p-tel" %>
          </td>
        </tr>
      <% end %>

      <% if location.url.present? %>
        <tr>
          <td>
            <%= link_to location.url.gsub(/^.*:\/\//, "").gsub(/^www\./,   "").gsub(/\/$/, ""), location.url, class: "u-url", target: "_blank" %>
          </td>
        </tr>
      <% end %>

      <% if location.twitter.present? %>
        <tr>
          <td>
            <%= link_to_social :twitter, location.twitter %>
          </td>
        </tr>
      <% end %>

      <% if location.instagram.present? %>
        <tr>
          <td>
            <%= link_to_social :instagram, location.instagram %>
          </td>
        </tr>
      <% end %>

      <% if location.facebook.present? %>
        <tr>
          <td>
            <%= link_to_social :facebook, location.facebook %>
          </td>
        </tr>
      <% end %>

      <!-- TODO: Add cardinal directions -->
      <% if location.longitude.present? && location.longitude.present? %>
        <tr>
          <td>
            <%= link_to geo_url_for(location.latitude, location.longitude), target: "_blank" do %>
              <data class="p-latitude" value="<%= location.latitude %>"><%= convert_to_sexagesimal location.latitude %></data>
              <data class="p-longitude" value="<%= location.longitude %>"><%= convert_to_sexagesimal location.longitude %></data>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
