<%= render "/shared/notice" %>

<div class="h-event">
  <div class="page-header">
    <h1>
      <span class="p-name"><%= @location.name %></span>
    </h1>
    <p><%= link_to "EDIT", edit_event_venue_location_path(@location.venue.event, @location.venue, @location), class: "btn btn-default btn-xs" %></p>
    <p>
      For <%= link_to @location.venue.event.name, @location.venue.event %>.
      At <%= link_to @location.venue.name, event_venue_path(@location.venue.event, @location.venue) %>.
    </p>
  </div>
</div>
